<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
    <footer class="text-center footer">
      &copy; 2025 HLBusiness. Todos os direitos reservados.
    </footer>
    <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>